# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
/core
/modules/contrib
/profiles/contrib
/.csslintrc
/.eslint*
/.ht.router.php
/.htaccess
/autoload.php
/example.gitignore
/index.php
/INSTALL.txt
/README.md
/robots.txt
/update.php
/web.config
/modules/README.txt
/profiles/README.txt
/sites/example.*
/sites/README.txt
/sites/*/default.*
/themes/README.txt

# Ignore SimpleTest multi-site environment.
/sites/simpletest